services:
  chainlit:
    build:
      context: ..
      dockerfile: .docker/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    restart: unless-stopped
    volumes:
      - ../src:/app